<h1> Customer Page</h1>
<p>ADD BUTTON TO GO TO DETAILS PAGE TO DISPLAY ALL INFORMATION FOR CUSTOMER</p>
<div>
    <a asp-action="Create">Create Reservation</a>
    <a asp-action="Details">View Reservations (Broken UNTIL WE MAKE DATABASE)</a>
</div>