@{
    ViewData["Title"] = "Hotel Information";
}

<h1>Contact Us</h1>
<p>172 Dunlop St E, Barrie, ON L4M 1B3</p>
<p>Call us at: 705-123-1234</p>
<p>Email us at: lakeshore@lakehshoreresort.com</p>
<p>Coming soon on Facebook and Insta</p>
