@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>

<div>
    <address class="vard">
        <span class="adr">
            <span class="street-address">172 Dunlop St E</span>,
            <span class="locality">Barrie</span>,
            <abbr class="region" title="Ontario">ON</abbr>
            <span class="postal-code">L4M 1B3</span>
            <span class="country-name">Canada</span>
        </span>
    </address>
    <p>Call us at: <a href="tel:705-123-1234">705-123-1234</a></p>
    <p>Email us at: <a href="mailto:lakeshore@lakehshoreresort.com">lakeshore@lakehshoreresort.com</a></p>
    <p>Also visit us on Facebook, Youtube and Instagram !</p>
</div>

<div id="map"></div>


    


