@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lake Shore Resort</h1>
    <img src="/img/Lake_Simcoe_homepage.jpg" alt="homepage_img" />
    <h2>Get started by <a class="text-dark" asp-area="Identity" asp-page="/Account/Register">Signing up </a>or <a class="text-dark" asp-area="Identity" asp-page="/Account/Login">Login </a>!</h2>
</div>

