
@{
    ViewData["Title"] = "Package Deals";
}

<h1>Our Deals</h1>

<div id="content">
    <h2>2 Nights 3 Days Stay</h2>

    <p>
        <img width="512" alt="2 Nights 3 Days Stay" src="~/img/package1.jpg"/>
        Enjoy 2 Nights 3 Days Stay at Lakeshore Resort ! Activities included: Seasonal Activities (Boating/Ice Skating on the Lake), Breakfast, Lunch and Dinner included.    
    </p>

    <p>Ideal for: Families, Couples & Seniors. Prices starting from $100/ night !</p>    
</div>


<div id="content_two">
    <h2>3 Nights 3 Days Stay</h2>

    <p>
        <img width="512" alt="3 Nights 3 Days Stay" src="~/img/package2.jpg" />
        Enjoy 3 Nights 3 Days Stay at Lakeshore Resort ! Activities included: Seasonal Activities (Boating/Ice Skating on the Lake), Breakfast, Lunch and Dinner included.
    </p>

    <p>Ideal for: Families, Couples & Students. Prices starting from $90/ night !</p>
</div>

<div id="content">
    <h2>6 Nights 6 Days Stay</h2>

    <p>
        <img width="512" alt="6 Nights 6 Days Stay" src="~/img/package3.jpg" />
        Enjoy 6 Nights 6 Days Stay at Lakeshore Resort ! Activities included: Seasonal Activities (Boating/Ice Skating on the Lake), Breakfast, Lunch and Dinner included.
    </p>

    <p>Ideal for: Families and Couples. Prices starting from $120/ night !</p>
</div>